.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-background-minor);
  height: 100px;
  padding: 20px;
  color: var(--color-text-minor);
  position: relative;
  .headerNav {
    align-items: center;
    flex-direction: column;
  }
  .headerNavLink {
    color: var(--color-text-minor);
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
  }
  .toggleLanguage {
    display: flex;
    position: absolute;
    right: 20px;
    height: 30px;
    align-items: center;
  }
}
